In [3]:
name = " dave"
print (name )

 dave

In [2]:
my_name = "thai son "
print (my_name )

thai son

In [7]:
year = "2019"
print (year)

2019

In [8]:
pi =3.14
print (pi)

3.14

In [12]:
bool_ = True
print(bool_)

True

In [23]:
halloween = 31
print (halloween)

31

In [4]:
earth_radius_in_km = 6371
one_mile = 0.62 #km //converting mile to km
print ("Earth radius in mile",earth_radius_in_km * one_mile)

Earth radius in mile 3950.02

In [36]:
altitude_in_feet = 40000
one_meters =0.3048 #feet //converting meter to feet
print("Altitude in meters:", altitude_in_feet * one_meters)

Altitude in meters: 12192.0

In [6]:
x = 5 
y=9 
z=8  
w= 6
print (x + y +z -w)
print (x + y *(z-w)) #bracket was added to see the differnt between two equation

SyntaxError: unexpected character after line continuation character (171395467.py, line 6)